<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @recipe.name %></title>
  </head>
  <body>
    <h1><%= @recipe.name %></h1>
    <ul>
      <li>Ingredients: <%= @recipe.ingredients %></li>
      <li>Cook Time: <%= @recipe.cook_time %></li>
    </ul>
    <form action="/recipes/<%= @recipe.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
